{% extends 'rango/base.html' %}

{% load staticfiles %} <!-- new line -->

{% block title %}Rango{% endblock %}

{% block body_block %}

<h1>Rango says...</h1>
  {% if user.is_authenticated %}
    <h1>Hey there, {{ user.username }}!</h1>
  {% else %}
    hello world! <strong>{{boldmessage}}</strong><br />
  {% endif %}
  {% if categories %}
    <h1>Top 5 Categories</h1>
    <ul>
    {% for category in categories %}
      <li><a href="{% url 'category' category.slug %}">{{category.name}}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <strong>There are no categories present</strong>
  {% endif %}

  {% if categories_views %}
    <h1>Top 5 categories by views</h1>
    <ul>
    {% for category in categories_views %}
      <li><a href="{% url 'category' category.slug %}">{{category.name}}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <strong>There are no categories present</strong>
  {% endif %}
<p> visits: {{ visits }}</p> 
<img src="{% static "images/8035.jpg" %}" alt="Picture of Men" /> <!--new line -->
 {% endblock %}
